body {
background-color: #D7CEB2;

text-align: center;
}

h1,h2,h3 {
font-family: 'Playfair Display', serif;
font-size: 40px;
font-weight: bold;
text-transform: capitalize;
}

.menu {
font-family: 'Commissioner', sans-serif;
font-size: 20px;
font-weight: bold;
background-color: #66635B;
padding: 35px;
display: flex;
justify-content: space-around;
 flex-direction: row;
}

p {
font-family: 'Commissioner', sans-serif;
text-align: left;
font-size: 22px;

}

a {
  text-decoration: none;
  font-weight: bold;
  color: #93A8AC;
}
a:hover {

    font-weight: bold;

}

@media screen and (max-width: max-width 600px) {
  .menu{

    font-family: 'Comissioner', sans-serif;
    font-size: 19px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
