body {
background-color: #D7CEB2;

text-align: center;
}

h1,h2,h3 {
font-family: 'Playfair Display', serif;
font-size: 40px;
font-weight: bold;
text-transform: capitalize;
}

#nav {
font-family: 'Commissioner', sans-serif;
font-size: 20px;
font-weight: bold;
background-color: #66635B;
padding: 35px;
}

p {
font-family: 'Commissioner', sans-serif;
text-align: left;


}

a {
  text-decoration: none;
  font-weight: bold;
  color: #93A8AC;
}
a:hover {

    font-weight: bold;

}
